@{
    ViewData["Title"] = "Gummy Bear Kindgom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome</h1>

<p>Gummy Bear Kingdom was founded in 1953. We proudly source artisinal gummy bears from all over the world to provide our customers with top notch flavors at unbeatable prices!</p>