@{
    ViewData["Title"] = "Gummy Bear Kindgom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome</h1>

<p>Gummy Bear Kingdom was founded in 1953. We proudly source artisinal gummy bears from all over the world to provide our customers with top notch flavors at unbeatable prices! Sed sed sapien ac massa pulvinar tempor quis dapibus erat. Pellentesque tristique finibus interdum. Integer mattis ipsum ut diam bibendum, ac porttitor lorem consectetur. Nunc eget luctus leo, at lobortis libero. Sed semper malesuada sem, eget maximus quam ultricies ut. Aliquam egestas congue porta. Nullam finibus nunc sed purus vestibulum, vel lobortis risus lobortis. Duis gravida malesuada risus. Proin scelerisque erat in magna venenatis, at dictum elit placerat. Vivamus eget odio rutrum, fringilla ipsum ac, bibendum ante</p>